.repl_history
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea

vendor/static/build-iPhoneSimulator/libstatic.a

vendor/static/build-iPhoneOS/libstatic.a
